<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Login -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailDeviceController</servlet-name>
        <servlet-class>Controller.customer.DetailDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProductController</servlet-name>
        <servlet-class>Controller.warestaff.AddNewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListProductController</servlet-name>
        <servlet-class>Controller.warestaff.ViewListProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetailController</servlet-name>
        <servlet-class>Controller.warestaff.ViewProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>Controller.warestaff.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>Controller.warestaff.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryListController</servlet-name>
        <servlet-class>Controller.warestaff.CategoryListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryController</servlet-name>
        <servlet-class>Controller.warestaff.AddCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryController</servlet-name>
        <servlet-class>Controller.warestaff.EditCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryController</servlet-name>
        <servlet-class>Controller.warestaff.DeleteCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCategoryDetailController</servlet-name>
        <servlet-class>Controller.warestaff.ViewCategoryDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractController</servlet-name>
        <servlet-class>Controller.customer.ContractController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRequestController</servlet-name>
        <servlet-class>Controller.customer.ListRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequestController</servlet-name>
        <servlet-class>Controller.customer.CreateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequest</servlet-name>
        <servlet-class>Controller.customer.DeleteRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRequestController</servlet-name>
        <servlet-class>Controller.cskh.CustomerRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequest</servlet-name>
        <servlet-class>Controller.customer.UpdateRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailRequestController</servlet-name>
        <servlet-class>Controller.customer.DetailRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFeedbackController</servlet-name>
        <servlet-class>Controller.customer.ListFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFeedbackController</servlet-name>
        <servlet-class>Controller.customer.CreateFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeedback</servlet-name>
        <servlet-class>Controller.customer.UpdateFeedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <!-- User -->
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.cskh.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <!-- Devices -->
    <servlet>
        <servlet-name>DevicesController</servlet-name>
        <servlet-class>Controller.customer.DevicesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DevicesController</servlet-name>
        <url-pattern>/customer/devices</url-pattern>
    </servlet-mapping>
    <!-- Logout -->
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/user/logout</url-pattern>
        <url-pattern>/admin/logout</url-pattern>
        <url-pattern>/customer/logout</url-pattern>
        <url-pattern>/staff/logout</url-pattern>
        <url-pattern>/techmanager/logout</url-pattern>
        <url-pattern>/technician/logout</url-pattern>
        <url-pattern>/warehouse/logout</url-pattern>
    </servlet-mapping>
    <!-- Welcome page -->
    <servlet-mapping>
        <servlet-name>DetailDeviceController</servlet-name>
        <url-pattern>/customer/detailDevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractController</servlet-name>
        <url-pattern>/customer/contract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRequestController</servlet-name>
        <url-pattern>/customer/listRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequestController</servlet-name>
        <url-pattern>/customer/createRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequest</servlet-name>
        <url-pattern>/customer/deleteRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRequestController</servlet-name>
        <url-pattern>/CustomerRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequest</servlet-name>
        <url-pattern>/customer/updateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailRequestController</servlet-name>
        <url-pattern>/customer/detailRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFeedbackController</servlet-name>
        <url-pattern>/customer/listFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFeedbackController</servlet-name>
        <url-pattern>/customer/createFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeedback</servlet-name>
        <url-pattern>/customer/updateFeedback</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>AddNewProductController</servlet-name>
        <url-pattern>/warestaff/addNewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListProductController</servlet-name>
        <url-pattern>/warestaff/viewListProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetailController</servlet-name>
        <url-pattern>/warestaff/viewProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/warestaff/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/warestaff/editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryListController</servlet-name>
        <url-pattern>/warestaff/categoryList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryController</servlet-name>
        <url-pattern>/warestaff/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryController</servlet-name>
        <url-pattern>/warestaff/editCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryController</servlet-name>
        <url-pattern>/warestaff/deleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategoryDetailController</servlet-name>
        <url-pattern>/warestaff/viewCategoryDetail</url-pattern>
    </servlet-mapping>
</web-app>
